<div class="jumbotron jumbotron-fluid">

    <div class="container">
        <h1 class="display-3">Tipos Pokemon</h1>
        <p class="lead"> Los Pokémon (ポケモン Pokémon en japonés) son criaturas ficticias, que dependiendo de la especie o el tipo, pueden tener rasgos físicos parecidos a animales, plantas, rocas, fantasmas, o incluso humanos (aunque de tamaño en muchos casos muy superior
            a lo que mediría la especie a la que se parece). Poseen poderes fantásticos que pueden utilizar llevando a cabo movimientos o habilidades para atacar, defenderse o cumplir sus necesidades. Generalmente pueden vivir en todo tipo de entornos,
            subsistiendo en la libertad de la naturaleza o conviviendo con humanos y ayudándolos.
    </div>

</div>